img {
  height: 550px;
  width: 500px;
}

.rotate-image {
  animation: slide-in 3s linear;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(10%);
  }
}

.slide-in {
  animation: slide-in 2s ease-out;
}
