img {
  height: 550px;
  width: 550px;
}

.rotate-image {
  animation: slide-in 10s linear;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 10s ease-out;
}
